ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    margin-bottom: 10px;
    background: #f4f4f4;
  }
  
  input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
  }
  
  #messages {
    list-style-type: none;
    padding: 0;
  }
  
  #messages li {
    padding: 8px;
    margin-bottom: 10px;
    background: #f4f4f4;
  }
  
  #input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
  }
  